*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.n-span {
    color: white;
    background-color: blue;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.logo {
    font-size: 1rem;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1rem;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

.toggle-group {
    display: flex;
    gap: 1rem;
}

.day-night-mode {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    padding: 0.5rem;
}

.burger {
    display: none;
}

nav {
    gap: 3rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

nav button:active {
    opacity: 0.7;
}

nav a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 0.2rem;
}

nav a:hover {
    opacity: 1;
}

nav a.active {
    font-weight: 700;
    border-bottom: 4px solid blue;
}

.search-group {
    display: flex;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

.search-input {
    display: flex;
    font-size: 1rem;
    border: none;
    outline: none;
    color: black;
    border-radius: 5px;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.visible-search-input {
    display: flex;
    width: 160px;
    opacity: 1;
}


.search-input:focus {
    border-color: blue;
    outline: skyblue;
}

.search-btn {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
}

.get-started-btn {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 2px solid blue;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    background-color: white;
    min-height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12rem;
    margin-bottom: 3rem;
}

.hero-section h1 {
    position: static;
    font-size: 4rem;
    color: #0F172A;
    line-height: 1.3;
    margin-bottom: 1rem;
    width: 80%;
}

.hero-section p {
    position: static;
    font-size: 1.2rem;
    color: #64748B;
    margin-bottom: 1.5rem;
    max-width: 500px;
}

.hero-section #btn-1 {
    position: static;
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 2px solid blue;
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
}

.hero-section #btn-2 {
    position: static;
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}

.hero-section #btn-1:active {
    opacity: 0.7;
}

.hero-section #btn-2:active {
    opacity: 0.6;
}

.feat-heading-1 {
    text-align: center;
    font-size: 1rem;
    color: blue;
}

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.feat-heading-2 {
    text-align: center;
    font-size: 1.5rem;
}

.feature-para {
    text-align: center;
    font-size: 1rem;
    color: #64748B;
}

.card img {
    width: 15vh;
    height: auto;
    padding-bottom: 2rem;
}

.feature-cards {
    display: flex;
    justify-content: space-around;
    gap: 8rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.card {
    border-radius: 5px;
    text-align: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid skyblue;
    padding: 3.5rem;
    background-color: #EEF2FF;
}

.card h2 {
    font-size: 1rem;
    color: #0F172A;
}

.card p {
    width: 10rem;
    font-size: 0.9rem;
    color: #64748B;
}

.card i {
    color: blue;
    font-size: 2rem;
}



.logo-in-footer {
    width: 10rem;
    height: auto;
}

.footer {
    border-top: 1px solid lightgray;
    display: flex;
    padding: 7rem 1rem;
    justify-content: center;
    gap: 2rem;
}

.logo-description-socials {
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    color: #64748B;
}

.logo-description-socials p {
    font-size: 0.7rem;
}

.socials-in-footer {
    display: flex;
    gap: 1rem;
    padding-top: 0.5rem;

}

.socials-in-footer i:hover {
    background-color: #64748B;
    color: white;
    border-color: white;
}

.socials-in-footer i {
    font-size: 0.8rem;
    border: 1px solid #64748B;
    border-radius: 5px;
    padding: 0.4rem;
}

.contact-newsletter {
    display: flex;
    gap: 2rem;
}

.contact-info-in-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #64748B;
    font-size: 0.7rem;
}

.contact-info-in-footer i {
    padding-right: 1rem;
}

.newsletter-in-footer {
    display: flex;
    flex-direction: column;
    color: #64748B;
    gap: 1rem;
    font-size: 0.7rem;
}

.newsletter-in-footer p {
    width: 12rem;
}

.newsletter-in-footer form {
    display: flex;
    flex-direction: column;
}

.newsletter-in-footer input {
    height: 2rem;
    width: 12rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    outline: none;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    color: #64748B;
}

.newsletter-in-footer button {
    background-color: blue;
    color: white;
    font-size: 0.7rem;
    border-radius: 5px;
    border: 2px solid blue;
    margin-bottom: 1rem;
    height: 2rem;
    width: 12rem;
}

.newsletter-in-footer button:active {
    opacity: 0.8;
}

.copyright-and-policies-in-footer {
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    height: 3rem;
    font-size: 0.7rem;
    color: #64748B;
}

.policies {

    display: flex;
    gap: 1rem;
}

.policies a {
    text-decoration: none;
    color: #64748B;
    font-size: 0.7rem;
}

.policies a:hover {
    text-decoration: underline;
}

.who-we-are-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 5rem;
}

.who-we-are-section h1 {
    color: #0F172A;
}

.our-stats-section {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 5rem;
}

.stats-cards {
    display: flex;
    justify-content: space-around;
}

.stats-cards div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 10rem;
    border: 1px solid #64748B;
    border-radius: 5px;
}

.stats-cards div h2 {
    color: blue;
    font-size: 2.2rem;
}

.stats-cards div p {
    font-size: 1.5rem;
}

.our-mission-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5rem;
}

.our-mission-section h1 {
    color: #0F172A;
}

.who-we-are-section h2,
.our-stats-section h2,
.our-mission-section h2 {
    color: blue;
    font-size: 1rem;
}

.who-we-are-section p,
.our-stats-section p,
.our-mission-section p {
    font-size: 1.2rem;
    color: #64748B;
    max-width: 600px;
}

.pricing-page-headings {
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pricing-page-headings h3 {
    color: blue;
    font-size: 1rem;
}

.price-cards {
    padding: 5rem 5rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    padding-top: 0;
}

.price-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    border-radius: 5px;
    padding: 2rem 2rem;
    height: auto;
    width: 17rem;
    border: 1px solid lightgrey;
}

.price-card h2 {
    color: blue;
}

.price-card p {
    color: #64748B;
}

.price-card button {
    padding: 0.3rem;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    background-color: white;
    border: 1px solid blue;
    color: blue;
}

.price-card div {
    display: flex;
}

.price-card div h3 {
    align-self: last baseline;
}

.price-card.selected-card button {
    border: 1px solid blue;
    background-color: blue;
    color: white;
    cursor: pointer;
}

body.dark .price-card.selected-card {
    border-color: blue;
}

body.dark .price-card {
    border-color: #334155;
}

body.dark .price-card button {
    background-color: transparent;
    color: white;
    border-color: blue;
}

body.dark .price-card.selected-card button {
    background-color: blue;
    color: white;
    border: 1px solid blue;
}

.selected-card {
    border: 1px solid blue;
}

.selected-card button:active {
    opacity: 0.7;
}

.contact-page-headings {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-page-headings h3 {
    color: blue;
}

.input-groups-and-contact-info {
    display: flex;
    padding: 2rem 5rem;
    gap: 10rem;
}

.contact-inputs form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-inputs label {
    opacity: 0.7;
    font-size: 1rem;
}

.contact-inputs input {
    height: 2rem;
    border: none;
    outline: none;
    width: 50vh;
    font-size: 1rem;
}

.contact-inputs div {
    height: 5rem;
    width: 60vh;
    border-radius: 5px;
    border: 1.5px solid lightgray;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.2rem;
}

.contact-inputs #contact-page-form button {
    height: 2.5rem;
    width: 60vh;
    background-color: blue;
    color: white;
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

#submit:active {
    opacity: 0.5;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#Message-input {
    height: 8rem;
}

#Message-input textarea {
    resize: none;
    outline: none;
    border: none;
    font-size: 1rem;
}

.input-box:focus-within {
    border-color: black;
}

.testimonials-headings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.testimonials-section h2 {
    font-size: 1rem;
    color: blue;
}

.testimonials-section h1 {
    font-size: 1.5rem;
    color: #0F172A;
}

.testimonials-para {
    font-size: 1rem;
    color: #64748B;
    text-align: center;
}

.testimonials-cards {
    display: flex;
    padding: 4rem 2rem;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.card-in-testimonials {
    padding: 2rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: floralwhite;
    width: 19rem;
}

.para-in-testimonials-card {
    color: #64748B;
    border-bottom: 1px solid lightgrey;
    padding: 1rem 0;
}

.avatar {
    text-align: center;
    color: #2563EB;
    font-size: 1rem;
    border-right: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #EEF2FF;
    height: 40px;
    width: 40px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-author {
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    margin-top: 1rem;
}

.author-role {
    color: #64748B;
}

.stars {
    color: #FBBF24;
}

.cta-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 12rem 0;
}

.cta-section h2 {
    color: blue;
    font-size: 1rem;
}

.cta-section h1 {
    font-size: 1.5rem;
    color: #0F172A;
    text-align: center;
}

.cta-section p {
    color: #64748B;
    font-size: 1rem;
    text-align: center;
}

.cta-section button {
    color: white;
    background-color: blue;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid blue;
    outline: none;
    cursor: pointer;
}

.cta-section button:active {
    opacity: 0.6;
}

#modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    padding: 2rem;
}

body.dark #modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-overlay.get-started {
    display: flex;
}

.modal-box {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 600px;
    max-width: 600px;
    padding: 2rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-headings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-header h1 {
    font-size: 1.5rem;
    color: #0F172A;
}

.modal-header p {
    font-size: 1rem;
    color: #64748B;
}

.contact-form-close-button {
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.contact-form-close-button:hover {
    opacity: 1;
}


.input-group {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
}

#modal-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: stretch;
}

.input-group input {
    font-size: 1rem;
    border: 0.8px solid lightgrey;
    border-radius: 5px;
    outline: none;
    padding: 0.6rem;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: blue;
    outline: 3px solid aqua;
}

.input-group textarea {
    resize: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.6rem;
}

#submit {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#submit:active {
    opacity: 0.6;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);

}

body.dark {
    background-color: #0D1117;
    color: white;
}

body.dark header,
body.dark .hero-section,
body.dark .hero-section h1 {
    background-color: #0D1117;
    color: white;
}

body.dark header{
    background-color: rgba(13, 17, 23, 0.5);
    backdrop-filter: blur(10px);
}

body.dark .feature-para,
body.dark .feat-heading-2,
body.dark .testimonials-headings p,
body.dark .testimonials-headings h1,
body.dark .cta-section p,
body.dark .cta-section h1 {
    color: white;
}

body.dark .hero-section p {
    color: skyblue;
}
body.dark .hero-section #btn-2,
body.dark .search-group input,
body.dark .search-group button,
body.dark .search-group {
    background-color: #0D1117;
    color: white;
    border-color: white;
    border-color: white;
}

body.dark .feature-section .card,
body.dark .feature-section .card h2,
body.dark .card-in-testimonials,
body.dark .card-in-testimonials .author-name,
body.dark .card-in-testimonials .avatar,
body.dark .who-we-are-section h1,
body.dark .our-mission-section h1 {
    background-color: #161B22;
    color: white;
    border-color: #161B22;
}

body.dark .feature-section .card p {
    color: skyblue;
}

body.dark .footer,
body.dark .logo-description-socials,
body.dark .footer .quick-links h2,
body.dark .footer .quick-links ul li a,
body.dark .footer .quick-links ul,
body.dark .contact-info-in-footer,
body.dark .newsletter-in-footer,
body.dark .copyright-and-policies-in-footer,
body.dark .newsletter-in-footer input,
body.dark .copyright-and-policies-in-footer .policies a,
body.dark .who-we-are-section p,
body.dark .stats-cards div p,
body.dark .stats-cards div,
body.dark .our-mission-section p,
body.dark .price-card p {
    background-color: #0D1117;
    border-color: skyblue;
    color: skyblue;
}

body.dark .modal-box,
body.dark .modal-box .modal-header button,
body.dark .modal-box #modal-form .input-group input,
body.dark .modal-box #modal-form .input-group textarea{
    background-color: #0D1117;
    color: white;
    border-color: #334155;
}

body.dark .modal-header h1{
    color: blue;
}

body.dark .day-night-mode {
    background-color: #0D1117;
    border-color: white;
    color: white;
}

body.dark .contact-inputs div {
    border-color: #334155;
}

body.dark .contact-inputs div input,
body.dark .contact-inputs div textarea {
    background-color: transparent;
    color: white;
}

body.dark .input-box label {
    color: #CBD5E1;
}

body.dark #submit {
    background-color: blue;
    color: white;
    border-color: blue;
}

.error {
    color: red;
    font-size: 0.8rem;
}

.success-message {
    color: blue;
    font-size: 0.8rem;
}

@media(max-width: 768px) {
    nav button {
        font-size: 1rem;
    }

    .hero-section {
        min-height: 50vh;
        padding: 3rem 1.5rem;
    }

    .hero-section h1 {
        font-size: 1.8rem;
        width: 95%;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .feat-heading-2 {
        text-align: center;
        font-size: 1.3rem;
    }

    .feature-heading {
        font-size: 1.3rem;
    }

    .feature-cards {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        gap: 3rem;
    }

    .card {
        width: 85%;
        height: auto;
        padding: 1.5rem;
    }

    .card p {
        width: 100%;
    }

    .burger {
        display: block;
        background: none;
        border: none;
        font-size: 1.8rem;
        color: black;
        cursor: pointer;
    }

    #nav-menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 0;
        order: 3;
        display: flex !important;
    }

    #nav-menu.open {
        max-height: 300px;
        padding: 1rem 0;
    }

    body.dark .burger {
        color: white;
    }

    header {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0;
        padding: 1rem;
    }

    .input-groups-and-contact-info {
        flex-direction: column;
        padding: 2rem 2rem;
    }

    .contact-page-headings {
        padding: 2rem 2rem;
    }

    .contact-inputs div {
        width: 40vh;
    }

    .input-box input {
        width: 35vh;
    }

    .contact-inputs button {
        width: 40vh;
    }

    .contact-info {
        gap: 2rem;
    }

    .footer {
        flex-direction: column;
        gap: 3rem;
    }

    .logo-description-socials,
    .newsletter-in-footer {
        width: 65%;
    }

    .quick-links {
        justify-content: flex-start;
    }

    .copyright-and-policies-in-footer {
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        padding: 2rem 0;
    }

    .who-we-are-section,
    .our-stats-section,
    .our-mission-section {
        padding: 2rem;
    }

    .stats-cards div h2 {
        font-size: 1.5rem;
    }

    .stats-cards div p {
        font-size: 1rem;
    }

    .stats-cards div {
        height: 8rem;
        margin-bottom: 2rem;
    }

    .stats-cards {
        flex-wrap: wrap;
    }

    .price-cards {
        flex-direction: column;
        justify-content: flex-start;
    }

    .pricing-page-headings {
        padding: 5rem 2rem;
    }

    .testimonials-cards {
        flex-direction: column;
        gap: 3rem;
    }

    .testimonials-para {
        padding: 0 2.5rem;
    }

    .modal-box {
        max-width: 325px;
        padding: 1.5rem;
    }

    .modal-header h1 {
        font-size: 1.4rem;
    }

    .modal-header p {
        font-size: 0.9rem;
    }

    .input-group label {
        font-size: 0.9rem;
    }

    #modal-form {
        gap: 0.5rem;
    }

    .cta-section {
        padding: 7rem 0;
    }

    .header-get-started-btn {
        display: none;
    }

    .search-group {
        display: none;
    }
}