*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 2rem;
    color: #0F172A;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1rem;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

.toggle-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.day-night-mode {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    background: none;
    border: none;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.burger {
    display: none;
}

nav {
    gap: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.get-started-btn:active {
    opacity: 0.7;
    transform: translate(-7px, -7px);
}

nav a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
}

nav a:hover {
    background-color: #EDE9E6;
}

nav a.active {
    font-weight: 700;
}

.get-started-btn {
    padding: 0.7rem 1.5rem;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.25s ease;
}


.get-started-btn:hover {
    transform: scale(1.05);

}

.get-started-btn:active {
    transform: scale(0.97);
    background-color: darkblue;
}

#mobile-getstarted-btn {
    display: none;
}

.hero-section {
    width: 100%;
    min-height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12rem;
}

.hero-section h1 {
    position: static;
    font-size: 4rem;
    color: #0F172A;
    line-height: 1.3;
    margin-bottom: 1rem;
    width: 80%;
}

.hero-section p {
    position: static;
    font-size: 1.2rem;
    color: #64748B;
    margin-bottom: 1.5rem;
    max-width: 500px;
}

.hero-section #btn-1 {
    position: static;
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
    transition: transform 0.25s ease;
}

.hero-section #btn-2 {
    position: static;
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.25s ease;
}

.hero-section #btn-2:hover {
    transform: translateX(5px);
}

.hero-section #btn-1:active {
    transform: scale(0.97);
}

.hero-section #btn-2:active {
    transform: scale(0.97);
}

.hero-section #btn-1:hover {
    transform: scale(1.05);
    background-color: darkblue;
}

.feat-heading-1 {
    text-align: center;
    font-size: 1rem;
    color: blue;
}

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.feat-heading-2 {
    text-align: center;
    font-size: 1.5rem;
}

.feature-para {
    text-align: center;
    font-size: 1rem;
    color: #64748B;
}

.card img {
    width: 15vh;
    height: auto;
    padding-bottom: 2rem;
}

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.card {
    border-radius: 5px;
    text-align: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid skyblue;
    padding: 3.5rem;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    position: relative;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #7F77DD, #1D9E75);
    border-radius: 5px 5px 0 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.card.reveal.active:hover::before {
    transform: scaleX(1);
}

.card h2 {
    font-size: 1rem;
    color: #0F172A;
}

.card p {
    width: 10rem;
    font-size: 0.9rem;
    color: #64748B;
}

.card i {
    color: blue;
    font-size: 2rem;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.card.reveal.active:hover i {
    transform: scale(1.3) rotate(-10deg);
}

.logo-in-footer {
    font-size: 7rem
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

.logo-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0F172A;
    padding: 2rem;
    padding-bottom: 0;
}

.copyright-text {
    align-self: flex-start;
    margin-left: 2.4rem;
    margin-bottom: 1rem;
    color: #64748B;
}

.socials-in-footer {
    display: flex;
    gap: 1rem;
    margin-right: 6rem;
}

.socials-in-footer i {
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
    color: #0F172A;
    cursor: pointer;
}

.socials-in-footer i:hover {
    background-color: #EDE9E6;
}

.newsletter-in-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0F172A;
    gap: 2rem;
    font-size: 0.9rem;
    text-align: center;
}

.newsletter-in-footer h3 {
    color: blue;
}

.newsletter-in-footer p {
    color: #64748B;
}


.newsletter-in-footer form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.newsletter-in-footer form p {
    display: block;
}

.newsletter-in-footer input {
    height: 2rem;
    width: 12rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #0F172A;
    outline: none;
    font-size: 0.9rem;
    color: #0F172A;
}

.newsletter-in-footer button {
    background-color: blue;
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    flex-wrap: nowrap;
    padding: 0.5rem 1rem;
    height: 2rem;
    transition: 0s;
}

.newsletter-in-footer button:active {
    opacity: 0.8;
    transform: translate(-7px, -7px);
}

.policies {
    display: flex;
    border-top: 1px solid lightgrey;
    padding: 1rem;
    justify-content: center;
}

.policies a {
    text-decoration: none;
    color: #0F172A;
    font-size: 1rem;
    opacity: 0.70;
    padding: 0 1rem;
}

.policies a:hover {
    opacity: 1;
}

.who-we-are-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 5rem;
}

.who-we-are-section h1 {
    color: #0F172A;
}

.our-stats-section {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 5rem;
}

.stats-cards {
    display: flex;
    justify-content: space-around;
}

.stats-cards div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 10rem;
    border: 1px solid #64748B;
    border-radius: 5px;
}

.stats-cards div h2 {
    color: blue;
    font-size: 2.2rem;
}

.stats-cards div p {
    font-size: 1.5rem;
}

.our-mission-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5rem;
}

.our-mission-section h1,
.value-section-heading h1,
.why-us-section-heading h1 {
    color: #0F172A;
}

.who-we-are-section h2,
.our-stats-section h2,
.our-mission-section h2,
.value-section-heading h2,
.why-us-section-heading h2 {
    color: blue;
    font-size: 1rem;
}

.who-we-are-section p,
.our-stats-section p,
.our-mission-section p,
.why-us-section-heading p,
.value-section-heading p {
    font-size: 1.2rem;
    color: #64748B;
    max-width: 600px;
}

.value-card h2,
.why-us-card h2 {
    color: #0F172A;
}

.values-cards,
.why-us-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
}

.value-section-heading,
.why-us-section-heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}

.values-cards {
    gap: 2rem;
}

.value-card,
.why-us-card {
    border-radius: 5px;
    text-align: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border: 1px solid lightgrey;
    width: 20rem;
}

.value-card p,
.why-us-card p {
    font-size: 0.9rem;
    color: #64748B;
}

.value-card i,
.why-us-card i {
    font-size: 2rem;
    color: blue;
}

.pricing-page-headings,
.faq-section-heading,
.comparison-section-heading {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pricing-page-headings h3 {
    color: blue;
    font-size: 1rem;
}

.price-cards {
    padding: 5rem 5rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: 0;
}

.price-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    border-radius: 5px;
    padding: 2rem 2rem;
    height: auto;
    width: 17rem;
    border: 1px solid lightgrey;
    cursor: pointer;
}

.price-card h2,
.table-heading th h3 {
    color: #0F172A;
}

.price-card-rate h1,
.price-card-rate h3,
.table-heading th p {
    color: blue;
}

.price-card p,
.faq-section .faq-section-heading p,
.faq-card p,
.comparison-section p {
    color: #64748B;
}

.price-card button {
    padding: 0.3rem;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    background-color: white;
    border: 1px solid blue;
    color: blue;
    cursor: pointer;
}

.price-card div {
    display: flex;
}

.price-card div h3 {
    align-self: last baseline;
}

.price-card.selected-card button {
    border: 1px solid blue;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.comparison-table {
    width: 70%;
    margin: 0 auto;
    align-self: center;
}

.comparison-table td {
    padding: 0.8rem 1rem;
}

.comparison-table td:not(:first-child) {
    text-align: center;
}

.comparison-table th {
    padding-left: 1rem;
}

.comparison-table th:first-child .comparison-table td:first-child,
.comparison-table th:first-child {
    text-align: left;
}

.comparison-table td:not(:first-child),
.comparison-table th:not(:first-child) {
    text-align: center;
}

.comparison-table td {
    border-bottom: 1px solid #E2E8F0;
}

.comparison-table th {
    padding-bottom: 1rem;
    border-bottom: 1px solid #E2E8F0;
}

.comparison-table .last-row {
    padding-bottom: 2rem;
}

.comparison-table th p,
.faq-section-heading h3,
.comparison-section h3 {
    color: blue;
}

.faq-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 0 2rem 4rem 2rem;
}

.faq-card {
    padding: 2rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 22rem;
    line-height: 1.4rem;
}

.cross {
    color: red;
}

.check {
    color: green;
}

body.dark .price-card.selected-card {
    border-color: blue;
}

body.dark .price-card {
    border-color: #334155;
}

body.dark .price-card button {
    background-color: transparent;
    color: white;
    border-color: blue;
}

body.dark .price-card.selected-card button {
    background-color: blue;
    color: white;
    border: 1px solid blue;
}

.selected-card {
    border: 1px solid blue;
}

.selected-card button:active {
    opacity: 0.7;
}

.guarantee-banner {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 2rem;
    margin: auto;
    margin-bottom: 1rem;
    width: 60%;
    background-color: #EEF2FF;
}

.guarantee-banner i {
    color: blue;
    font-size: 2.5rem;
}

.guarantee-banner h3 {
    font-size: 1rem;
}

.guarantee-banner p {
    font-size: 1rem;
    color: #64748B;
}

.contact-page-headings {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-page-headings h3 {
    color: blue;
}

.input-groups-and-contact-info {
    display: flex;
    padding: 2rem 5rem;
    gap: 10rem;
}

.contact-inputs form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-inputs label {
    opacity: 0.7;
    font-size: 1rem;
}

.contact-inputs input {
    height: 2rem;
    border: none;
    outline: none;
    width: 50vh;
    font-size: 1rem;
}

.contact-inputs div {
    height: 5rem;
    width: 60vh;
    border-radius: 5px;
    border: 1.5px solid lightgray;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.2rem;
}

.contact-inputs #contact-page-form button {
    height: 2.5rem;
    width: 60vh;
    background-color: blue;
    color: white;
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px;
    cursor: pointer;
    transition: 0s;
}

#submit:active {
    opacity: 0.5;
    transform: translate(-7px, -7px);
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#Message-input {
    height: 8rem;
}

#Message-input textarea {
    resize: none;
    outline: none;
    border: none;
    font-size: 1rem;
}

.input-box:focus-within {
    border-color: black;
}

.testimonials-headings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.testimonials-section h2,
.comparison-section h2 {
    font-size: 1rem;
    color: blue;
}

.testimonials-section h1,
.comparison-section h1 {
    font-size: 1.5rem;
    color: #0F172A;
}

.testimonials-para {
    font-size: 1rem;
    color: #64748B;
    text-align: center;
}

.testimonials-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.card-in-testimonials {
    padding: 2rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 19rem;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.card-in-testimonials.reveal.active:hover {
    transform: translateY(-4px) rotate(-0.4deg);
    transition: transform 0.25s ease;
    border-color: #7F77DD;
}

.para-in-testimonials-card {
    color: #64748B;
    border-bottom: 1px solid lightgrey;
    padding: 1rem 0;
    font-style: italic;
}

.avatar {
    text-align: center;
    color: #2563EB;
    font-size: 1rem;
    border-right: 1px solid lightgrey;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.card-in-testimonials.reveal.active:hover .avatar {
    transform: scale(1.15);
}


.testimonial-author {
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    margin-top: 1rem;
}

.author-role {
    color: #64748B;
}

.stars {
    color: #FBBF24;
}

.cta-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 12rem 0;
}

.cta-section h2 {
    color: blue;
    font-size: 1rem;
}

.cta-section h1 {
    font-size: 1.5rem;
    color: #0F172A;
    text-align: center;
}

.cta-section p {
    color: #64748B;
    font-size: 1rem;
    text-align: center;
}

.cta-section button {
    color: white;
    background-color: blue;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.25s ease;
}

#modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    padding: 2rem;
}

body.dark #modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-overlay.get-started {
    display: flex;
}

.modal-box {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 600px;
    max-width: 600px;
    padding: 2rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-headings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-header h1 {
    font-size: 1.5rem;
    color: #0F172A;
}

.modal-header p {
    font-size: 1rem;
    color: #64748B;
}

.contact-form-close-button {
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.contact-form-close-button:hover {
    opacity: 1;
}


.input-group {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
}

#modal-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: stretch;
}

.input-group input {
    font-size: 1rem;
    border: 0.8px solid lightgrey;
    border-radius: 5px;
    outline: none;
    padding: 0.6rem;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: blue;
    outline: 3px solid aqua;
}

.input-group textarea {
    resize: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.6rem;
}

#submit {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#submit:active {
    opacity: 0.6;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);

}

body.dark {
    background-color: #0D1117;
    color: white;
}

body.dark header,
body.dark .hero-section,
body.dark .hero-section h1 {
    background-color: #0D1117;
    color: white;
}

body.dark header {
    background-color: rgba(13, 17, 23, 0.5);
    backdrop-filter: blur(10px);
    border-color: blue;
}

body.dark .feature-para,
body.dark .testimonials-para,
body.dark .cta-section p {
    color: skyblue;
}

body.dark .feat-heading-2,
body.dark .testimonials-headings h1,
body.dark .cta-section h1,
body.dark .value-section-heading h1,
body.dark .why-us-section-heading h1,
body.dark .our-mission-section h1,
body.dark comparison-section-heading h1,
body.dark .why-us-card h2,
body.dark .value-card h2 {
    color: white;
}

body.dark .hero-section p {
    color: skyblue;
}

body.dark .hero-section #btn-2,
body.dark .search-group input,
body.dark .search-group button,
body.dark .search-group {
    background-color: #0D1117;
    color: white;
    border-color: white;
    border-color: white;
}

body.dark .footer,
body.dark .logo-description-socials,
body.dark .contact-info-in-footer,
body.dark .newsletter-in-footer,
body.dark .copyright-and-policies-in-footer,
body.dark .copyright-and-policies-in-footer .policies a {
    color: white;
    border-color: #334155;
    background-color: #0D1117;
}

body.dark .newsletter-in-footer input {
    border-color: white;
    background-color: #0D1117;
    color: white;
}

body.dark .feature-section .card,
body.dark .feature-section .card h2,
body.dark .card-in-testimonials,
body.dark .card-in-testimonials .author-name,
body.dark .card-in-testimonials .avatar,
body.dark .value-card,
body.dark .why-us-card,
body.dark .price-card,
body.dark .stats-card,
body.dark .guarantee-banner,
body.dark .who-we-are-section h1,
body.dark .comparison-section-heading h1,
body.dark .table-heading th h3,
body.dark .our-mission-section h1,
body.dark .price-card h2 {
    background-color: #0D1117;
    color: white;
    border-color: #334155;
}

body.dark .feature-section .card p,
body.dark .guarantee-banner div p,
body.dark .comparison-section-heading p,
body.dark .faq-section-heading p,
body.dark .newsletter-in-footer p,
body.dark .copyright-text,
body.dark .policies a {
    color: skyblue;
}

body.dark .who-we-are-section p,
body.dark .stats-cards div p,
body.dark .stats-cards div,
body.dark .our-mission-section p,
body.dark .price-card p,
body.dark .value-section-heading p,
body.dark .why-us-section-heading p,
body.dark .why-us-card p,
body.dark .value-card p,
body.dark .faq-card p {
    border-color: #334155;
    color: skyblue;
}

body.dark .socials-in-footer i:hover {
    background-color: skyblue;
    border-color: #0D1117;
    color: #0D1117;
}

body.dark .modal-box,
body.dark .modal-box .modal-header button,
body.dark .modal-box #modal-form .input-group input,
body.dark .modal-box #modal-form .input-group textarea {
    background-color: #0D1117;
    color: white;
    border-color: #334155;
}

body.dark .modal-header h1 {
    color: blue;
}

body.dark #sun-icon {
    display: flex;
    background-color: #0D1117;
    border-color: white;
    color: white;
}

body.dark #moon-icon {
    display: none;
}

body.dark .day-night-mode {
    color: white;
    border-color: white;
}

body.dark .contact-inputs div,
body.dark .faq-card,
body.dark .table-heading th {
    border-color: #334155;
}

body.dark .comparison-table td {
    border-color: #334155;
    color: skyblue;
    background-color: #0D1117;
}

body.dark .contact-inputs div input,
body.dark .contact-inputs div textarea {
    background-color: transparent;
    color: white;
}

body.dark .input-box label {
    color: #CBD5E1;
}

body.dark #submit {
    background-color: blue;
    color: white;
    border-color: blue;
}

.error,
.modal-error {
    color: red;
    font-size: 0.8rem;
}

.modal-success {
    color: blue;
    font-size: 0.8rem;
}

.success-message,
.subscribe-success-message {
    color: blue;
    font-size: 0.8rem;
}

.back-to-top {
    background-color: blue;
    color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    display: flex;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

#back-to-top:active {
    opacity: 0.7;
}

.visible-back-to-top {
    opacity: 1;
    visibility: visible;
}

.policy-section,
.cookies-section,
.terms-section {
    padding: 4rem 15%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 900px;
    margin: 0 auto;
}

.policy-section h3,
.cookies-section h3,
.terms-section h3 {
    color: blue;
    font-size: 1rem;
}

.policy-section h1,
.cookies-section h1,
.terms-section h1 {
    font-size: 2rem;
    color: #0F172A;
}

.policy-section h2,
.cookies-section h2,
.terms-section h2 {
    font-size: 1.2rem;
    color: #0F172A;
    margin-top: 1rem;
}

.policy-section p,
.cookies-section p,
.terms-section p {
    color: #64748B;
    line-height: 1.8;
}

body.dark nav a:hover {
    background-color: #334155;
}

body.dark .policy-section h1,
body.dark .policy-section h2,
body.dark .cookies-section h1,
body.dark .cookies-section h2,
body.dark .terms-section h1,
body.dark .terms-section h2 {
    color: white;
}

body.dark .policy-section p,
body.dark .cookies-section p,
body.dark .terms-section p {
    color: skyblue;
}

body.dark .logo-socials .logo-in-footer,
body.dark .logo,
body.dark .socials-in-footer i {
    color: white;
}

body.dark .socials-in-footer i:hover {
    background-color: #0F172A;
    color: white;
}

body.dark nav a:hover {
    background-color: #0F172A;
    color: white;
}

body.dark .hero-section #btn-2:hover {
    background-color: #0F172A;
    opacity: 0.8;
}

@media(max-width: 768px) {
    nav button {
        font-size: 1rem;
    }

    .hero-section {
        min-height: 50vh;
        padding: 3rem 1.5rem;
    }

    .hero-section h1 {
        font-size: 1.8rem;
        width: 95%;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .feat-heading-2 {
        text-align: center;
        font-size: 1.3rem;
    }

    .feature-heading {
        font-size: 1.3rem;
    }

    .feature-cards {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        gap: 3rem;
    }

    .card {
        width: 85%;
        height: auto;
        padding: 1.5rem;
    }

    .card p {
        width: 100%;
    }

    .burger {
        display: block;
        background: none;
        border: none;
        font-size: 1.8rem;
        color: black;
        cursor: pointer;
    }

    #nav-menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 0;
        order: 3;
        display: flex !important;
    }

    #nav-menu.open {
        max-height: 300px;
        padding: 1rem 0;
    }

    body.dark .burger {
        color: white;
    }

    header {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0;
        padding: 1rem;
    }

    .input-groups-and-contact-info {
        flex-direction: column;
        padding: 2rem 2rem;
    }

    .contact-page-headings {
        padding: 2rem 2rem;
    }

    .contact-inputs div {
        width: 40vh;
    }

    .input-box input {
        width: 35vh;
    }

    .contact-inputs #contact-page-form button {
        width: 40vh;
    }

    .contact-info-in-footer {
        gap: 0.5rem;
    }

    .footer {
        flex-direction: column;
        padding: 1.5rem;
        gap: 1.5rem;
    }

    .logo-description-socials {
        width: 45%;
    }

    .socials-in-footer {
        padding-top: 0;
    }

    .brand-contact {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 2rem;
        gap: 1rem;
    }

    body.dark .brand-contact {
        border-bottom: 1px solid #334155;
        padding-bottom: 1.5rem;
    }

    .newsletter-in-footer {
        width: 100%;
    }

    .newsletter-in-footer form {
        flex-direction: row;
        gap: 1rem;
    }

    .newsletter-in-footer input {
        margin-bottom: 0;
        width: 14rem;
    }

    .newsletter-in-footer button {
        width: 6rem;
        margin-bottom: 0;
    }

    .newsletter-in-footer p {
        width: 100%;
    }

    .quick-links {
        justify-content: flex-start;
    }

    .copyright-and-policies-in-footer {
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        padding: 2rem 0;
    }

    .who-we-are-section,
    .our-stats-section,
    .our-mission-section,
    .value-section-heading,
    .why-us-section-heading,
    .comparison-section-heading,
    .faq-section-heading {
        padding: 2rem;
        margin-top: 2rem;
    }

    .comparison-table {
        margin-top: 1.5rem;
    }

    .stats-cards div h2 {
        font-size: 1.5rem;
    }

    .stats-cards div p {
        font-size: 1rem;
    }

    .stats-cards div {
        height: 8rem;
        margin-bottom: 2rem;
    }

    .stats-cards {
        flex-wrap: wrap;
    }

    .price-cards {
        flex-direction: column;
        justify-content: flex-start;
    }

    .pricing-page-headings {
        padding: 5rem 2rem;
    }

    .testimonials-cards {
        flex-direction: column;
        gap: 3rem;
    }

    .testimonials-para {
        padding: 0 2.5rem;
    }

    .modal-box {
        max-width: 325px;
        padding: 1.5rem;
    }

    .modal-header h1 {
        font-size: 1.4rem;
    }

    .modal-header p {
        font-size: 0.9rem;
    }

    .input-group label {
        font-size: 0.9rem;
    }

    #modal-form {
        gap: 0.5rem;
    }

    .cta-section {
        padding: 7rem 0;
    }

    .header-get-started-btn {
        display: none;
    }

    #mobile-getstarted-btn {
        display: flex;
    }

    .search-group {
        display: none;
    }

    .guarantee-banner {
        width: 85%;
        padding: 1rem;
    }

    .logo-in-footer {
        font-size: 3rem;
    }

    .logo-socials {
        padding: 0;
    }

    .socials-in-footer {
        margin-right: 0;
        gap: 0.5rem
    }

    .logo-socials div p {
        margin-left: 0;
        margin-top: 2rem;
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
    }

    .socials-in-footer i {
        font-size: 1.2rem;
    }


    .newsletter-in-footer form {
        gap: 0.5;
    }

    .footer {
        gap: 8rem;
    }

    .copyright-text {
        text-align: center;
        margin-left: 0;
        font-size: 0.9rem;

    }

    .policies {
        padding: 0.5rem;
    }

    .policies a {
        padding: 0 0.5rem;
        font-size: 0.9rem;
    }





}